<header>
  <div class="titlePage"><%= title %></div>

  <div class="imgLogo">
    <picture></picture>
  </div>
  
  <aside>
    <form id="formFilterPagination" name="formFilterPagination" action="/" method="get">
      <nav>
        <section>
          <h4>Filtros aplicalbles en URL por:</h4>
          <ul class="filters">
            <li>tag</li>
            <li>venta</li>
            <li>precio</li>
            <li>nombre</li>
            <li></li>
            <li>Aplicable ordenación con "sort", y selección de campos con "fields"</li>
            <li>Aplicable paginación con "skip" y "limit"</li>
          </ul>
        </section>
        <section>

          <label for="artPerPage"><h4>
            <% if (limit && limit<ads.length) {%>
              <%= limit %> Elementos en esta página, de <%=ads.length%>
            <%} else {%>
              <%= ads.length %> Elementos en esta página%>
            <%}%>
          </h4></label>

        </section>
      </nav>
    </form>
  </aside>
</header>