<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <link rel="stylesheet" href="./stylesheets/reset.css">
  <link rel="stylesheet" href="./stylesheets/normalize.css">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <link rel="stylesheet" href="./stylesheets/index.css">
  <link rel="stylesheet" href="./stylesheets/header.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Sora:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
  <header>
    <div class="titlePage"><a href="/"> <%= title %> </a></div>

    <div class="imgLogo">
      <picture></picture>
    </div>

    <aside>
      <% getLocales().forEach(locale => {%>
        <a href="/change-lang/<%=locale%>"><%=locale%></a>
        &nbsp;
      <%})%>

      <a href="/login"> <%=__('Login') %> </a>

      <% if (!page || page!=='login') { %>
        <%- include('./nav.html') %>
      <% } %>
    </aside>
  </header>