<%- include('./header.html') %>

  <main>
    <section>
      <% ads.forEach(element => { %>
        <article>
          <% if (element.nombre) {%>
            <h2 class="articleTitle"><%=__('Article')%>: <%= element.nombre  %> </h2>
          <%}%>
          <% if (element.foto) {%>
            <img class="articleImg" src="/images/anuncios/<%= element.foto%>" alt="<%= element.foto%>"></picture>
          <%}%>

            <% if (element.venta===true) { %>
              <h4 class="sale"><%=__('SELLING')%></h4>
            <% } else { %>
              <h4 class="sale"><%=__('SEARCHING')%></h4>
            <%}%>

          <% if (element.tags) {%>
            <p class="tags"><%=__('TAGS')%></p>
            <p>
              <% element.tags.forEach(tag => {%>
                <span><%=tag%> ; </span>
              <%})%>
            </p>
          <%}%>
          <% if (element.precio) {%>
            <h3 class="price"><%=__('PRICE')%></h3>
            <p class="priceElement"><%= element.precio %></p>
          <%}%>
          <% if (element._id) {%>
            <p class="infos"><%=__('Other info')%></p>
            <p>id:<%= element._id %> ; __v: <%= element.__v %></p>
          <%}%>
        </article>
        <hr/>
      <% }); %>
    </section>
  </main>

  <footer>
    <p><%=__('copyrigth and social networks')%></p>
  </footer>
  
</body>
</html>