/*Specific configurations for index page*/

img {
  height: 14em;
}

.price{
  margin-bottom: 3px;
}
.infos, .tags{
  margin-bottom: 5px;
}

.priceElement{
  font-size: 1.25em;
  color: var(--bs-indigo);
  font-weight: bold;
  margin-bottom: 6px;
}